# Homework 5


**Concepts covered:**

python data structures: list, set, dict


**Instructions:**

Be sure to run each code block after you edit it to make sure it runs as expected. When you are done, we strongly recommend you run all the code from scratch (Runtime menu -> Restart and Run all) to make sure your current code works for all problems.

If your code raises an exception when run from scratch, it will interfere with the auto-grader process causing you to lose some or all points for this homework. Please ask for help on Piazza, attend office hours or schedule an appointment with your learning facilitator if you get stuck.


**Warning about AI:**

While we encourage you to use AI to generate practice problems, **we recommend against using generative AI in the strongest terms** to solve any part of this assignment. The goal of this assignment is for you to learn these concepts, and while using AI may help you obtain solutions to these problems, you will cheat yourself out of the learning that comes from working through the problems yourself.

**Sample Output:**

For each problem description, a sample output has been included to show what the expected output should be.
Some functions have test cases provided for you to test with, so no sample output has been included for those.


**Docstrings and Comments:**

Include a *documentation string* (docstring) for each function definition, as well as comments in the body of your code to explain each control structures (e.g., decision, loop), function call, or formula.

**Review Problem 1**

**Concept:** *Processing a list with a definite loop.*

**Task:**

Write a function `print_word_lengths(words)` that takes a list of strings and prints each word and its length on its own line in the format:

`word: length`

Use an element-based `for` loop. The function does not return anything.

**Sample Output:**
```
print_word_lengths(['apple', 'banana', 'kiwi'])
```
should print
```
apple: 5
banana: 6
kiwi: 4
````

In [2]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW
def print_word_lengths(words):
  for w in words:
    w_length = len(w)
    print(w+':',w_length)

Test case for problem 1

In [3]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW
print_word_lengths(['apple', 'banana', 'kiwi'])

apple: 5
banana: 6
kiwi: 4

**Review Problem 2**

**Concept:** *Processing a list with a definite loop, using accumulator pattern.*

**Task:**

Write a function `total_length(words)` that returns the sum of the lengths of all words in a list using the accumulator pattern.

Write a second version using list comprehension.

**Sample Output:**

```
total_length(['data', 'science', 'rocks'])
```
should return `15`

In [4]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW
def total_length(words):
  # initialize accumulator
  total = 0

  #for each word in the list
  for w in words:
    w_length = len(w) # get length
    total += w_length #

  return total

In [5]:
# second version
def total_length(words):
  sum_word = [len(x) for x in words]
  total = sum(sum_word)
  return total

Test case for problem 2

In [6]:
# TO DO: WRITE YOUR TEST CASES BELOW
total_length(['data', 'science', 'rocks'])
# My solutions are correct, science is 7 words not 6. It should return 16 not 15

16

**Review Problem 3**

**Concept:** *List processing, accumulation, decision statements, creating a new list as result.*

**Task:**

Write a function `union(a, b)` that returns a new list containing all unique elements from both lists.

Rules:

* Cannot use a set

* Cannot modify input lists

* Must create a new list

* Order does not matter

**Sample Output:**

```
union of [1] with [1,2] should return [1, 2]
union of [1, 3] with [2, 4, 5] should return [1, 2, 3, 4, 5]
union of [4, 5] [1, 2, 3, 4] should return [4, 5, 1, 2, 3]
```

In [7]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW
def union(a, b):
  # using info from stack overflow and list comprehension

  new_list = a + [x for x in b if x not in a]
  return new_list

Test cases for Problem 3

In [29]:
# test cases
print(union([1,2,3], [1,2,3])) # should return [1, 2, 3]
print(union([1,2,3], [1,2,4,5])) # should return [1, 2, 3, 4, 5]
print(union([4,5], [1,2,3])) # should return [4, 5, 1, 2, 3] or [1, 2, 3, 4, 5] or any other permutation

[1, 2, 3]
[1, 2, 3, 4, 5]
[4, 5, 1, 2, 3]

**Problem 4**

**Concept:** *Using `set` to remove duplicates.*

**Task:**

Write a function `union_2(a, b)` that returns a list of unique elements by converting the combined list into a set and back into a list.

**Sample Output:**

```
union of [1] with [1,2] should return [1, 2]
union of [1, 3] with [2, 4, 5] should return [1, 2, 3, 4, 5]
union of [4, 5] [1, 2, 3, 4] should return [4, 5, 1, 2, 3]
```

In [30]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW
def union_2(a, b):
  # using info from stack overflow
  combined = a+b

  #converting to a set
  set_list = set(combined)

  return list(set_list) # return as a list

Test cases for problem 4

In [31]:
# TO DO: WRITE YOUR TEST CASES BELOW
print(union_2([1], [1,2]))
print(union_2([1,3], [2,4,5]))
print(union_2([4,5], [1,2,3,4]))

[1, 2]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

**Problem 5**

**Concept:** *Process a string, find unique characters.*

**Task:**

Write a function `unique_letters(s)` that returns a list of unique characters in a string using:

* list comprehension

* set

**Sample Output:**
```
print(unique_letters('hello world'))
```
should return
```
unique letters: ['h', 'e', 'l', 'o', ' ', 'w', 'r', 'd']
```

In [32]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW
def unique_letters(s):

  #using list comprehension
  new_list = list(set([x for x in s]))

  return new_list

Test case for problem 5

In [34]:
# TO DO: WRITE YOUR TEST CASES BELOW
print("unique letters:",unique_letters('hello world'))

unique letters: ['w', 'r', 'd', 'o', ' ', 'l', 'e', 'h']

# **Common Declarations**
The following declarations are used in several problems.
Run this cell to have acceess to these names through the notebook.

In [35]:
# starter code:
# this declaration creates a dictionary of scrabble letter scores for each letter
scrabble_scores = {'a': 1, 'b': 3, 'c': 3, 'd': 2, 'e': 1,
                 'f': 4, 'g': 2, 'h': 4, 'i': 1, 'j': 8,
                 'k': 5, 'l': 1, 'm': 3, 'n': 1, 'o': 1,
                 'p': 3, 'q': 10, 'r': 1, 's': 1, 't': 1,
                 'u': 1, 'v': 4, 'w': 4, 'x': 8, 'y': 4,
                 'z': 10}

# this declaration creates a list of dictionaries
games_results = [
    {"old dominion": 14, "indiana": 27},
    {"kennesaw state": 9, "indiana": 56},
    {"indiana state": 0, "indiana": 73},
    {"illinois": 10, "indiana": 63},
    {"indiana": 20, "iowa": 15},
    {"michigan state": 13, "indiana": 38},
    {"ucla": 6, "indiana": 56},
    {"indiana": 55, "maryland": 10},
    {"indiana": 27, "penn state": 24},
    {"wisconsin": 7, "indiana": 31},
    {"indiana": 56, "purdue": 3},
    {"indiana": 13, "ohio state": 10},
]

**Problem 6**

**Concept:** *Using dictionary data type, loop, element access.*

**Task:**

Write a function `print_values(d)` that prints each key or value pair in a dictionary on its own line.

**Sample Output:**

```
print_values({'Alice': 90, 'Bob': 85})
```
should print
```
Alice: 90
Bob: 85
```

In [36]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW
def print_values(d):
  #using a loop, get the key and print the key and value pairs
  for key in d:
    print(key+":",d[key])

Test cases for problem 6

In [39]:
# test cases:
## print out scrabble scores
#print_values(scrabble_scores)

## print out one game result
game1 = games_results[0]
print_values(game1)

old dominion: 14
indiana: 27

**Problem 7**

**Concept:** *Using dictionary data type, basic syntax.*

**Task:**

Write a function `word_score(word)` that returns the Scrabble score of a word using the dictionary `scrabble_scores`.

**Sample Output:**
```
print(word_score('cat'))
```
should return
```
cat: 5
```

In [46]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW
def word_score(word):
  #using word accumulator
  sum_string = 0 #intialize acummulator

  for c in word: #loop through each string in the work
    sum_string += scrabble_scores[c] # get the value using the scrabble score dictionary and sum
  return sum_string


Test case for problem 7

In [47]:
# TO DO: WRITE YOUR TEST CASES BELOW

print("cat:",word_score('cat'))

cat: 5

**Problem 8**

**Concept:** *Using list data type, dictionary data type, loop, element access.*

**Task:**

Write a function `print_game_scores(games_results)` that prints the results of each game using `print_values`, followed by a blank line.

**Sample Output:**
```
print_game_scores([
    {'team A': 10, 'team B': 7},
    {'team C': 3, 'team D': 14}
])
```
should print
```
team A: 10
team B: 7

team C: 3
team D: 14
```

In [54]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW
def print_game_scores(games_results):

  for set in games_results:
    print("\n")
    print_values(set)

Test case for problem 8

In [55]:
# TO DO: WRITE YOUR TEST CASES BELOW
print_game_scores([
    {'team A': 10, 'team B': 7},
    {'team C': 3, 'team D': 14}
])

team A: 10
team B: 7


team C: 3
team D: 14

**Problem 9**

**Concept:** *Using list data type, dictionary data type, loop, dictionary element access, accumulator pattern.*

**Task:**

Write a function `total_points(games_results, team_name)` that returns the total points scored by a team across all games.

**Sample Output:**
```
games_results = [
    {'A': 5, 'B': 7},
    {'A': 10, 'C': 3}
]
print(total_points(games_results, 'A'))
```
should return
```
total points for A: 15
```

In [66]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW
def total_points(games_results, team_name):
  sum_string = 0 #intialize acummulator

  for x in games_results:
    sum_string += x[team_name]
  return sum_string

Test cases for problem 9

In [67]:
# test cases
team_name = 'indiana'
total = total_points(games_results, team_name)
print(f'total points for {team_name}: {total}')

total points for indiana: 515

**Problem 10**

**Concept:** *Using list data type, dictionary data type, sorting.*

**Task:**

Write a function `sort_games_by_score(games, team_name)` that returns a new list sorted by a teamâ€™s score in descending order.

**Sample Output:**

```
games = [
    {'A': 10, 'B': 5},
    {'A': 20, 'C': 3},
    {'A': 7, 'D': 14}
]
print_game_scores(sort_games_by_score(games, 'A'))
```
should return in descending order
```
A: 20
C: 3

A: 10
B: 5

A: 7
D: 14
```

In [64]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW
def sort_games_by_score(games, team_name):

  #using 5.6 list sorting example
  games.sort(key=lambda game: game[team_name], reverse=True)
  return games

Test cases for problem 10

In [65]:
# test cases
games_sorted = sort_games_by_score(games_results, 'indiana')
print("games sorted by score (descending)")
print_game_scores(games_sorted)

games sorted by score (descending)


indiana state: 0
indiana: 73


illinois: 10
indiana: 63


kennesaw state: 9
indiana: 56


ucla: 6
indiana: 56


indiana: 56
purdue: 3


indiana: 55
maryland: 10


michigan state: 13
indiana: 38


wisconsin: 7
indiana: 31


old dominion: 14
indiana: 27


indiana: 27
penn state: 24


indiana: 20
iowa: 15


indiana: 13
ohio state: 10

**Problem 11**

**Concept:** *Using dictionary data type, loop, decision statements.*

**Task:**

Write a function `best_score(games, team_name)` that returns the game dictionary where the team scored the most points.

**Sample Output:**
```
games = [
    {'A': 8, 'B': 10},
    {'A': 15, 'C': 7},
    {'A': 12, 'D': 9}
]
print(best_score(games, 'A'))
```
should return
```
{'A': 15, 'C': 7}
```

In [74]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW
def best_score(games, team_name):
  # get first game
  largest_game = games[0]

  #loop through to compare each score and save the game with the bigger score to the largest_game variable
  for game in games:
    if largest_game[team_name] < game[team_name]:
      largest_game = game
  return largest_game

Test case for problem 11

In [75]:
# test cases
print('best_score(games_results, team_name)', best_score(games_results, 'indiana'))

best_score(games_results, team_name) {'indiana state': 0, 'indiana': 73}

**Problem 12**

**Concept:** *Using list data type, dictionary data type, sorting.*

**Task:**

Write a function `best_word(words)` that returns the word with the highest Scrabble score.

**Sample Output:**
```
best_word(['dog', 'quiz', 'cat'])
```
should return `quiz`, because `quiz` has the highest scrabble score.

In [76]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW
def best_word(words):
  #initialize an accumulator to compare each score to get the highest score
  high_score = 0

  #loop through, get each word score using the function word_score, compare and save highest score to high_score variable
  for word in words:
    score = word_score(word)
    if score > high_score:
      high_score = score
  return word # return word with highest score

Test case for problem 12

In [79]:
# test case
words = ['nitwit', 'blubber', 'oddment', 'tweak']
best_word_from_list = best_word(words)
score = word_score(best_word_from_list)

print(f'best_word(words) {best_word_from_list} : {score}')

best_word(words) tweak : 12